@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}



/* banner style  */
.banner-container{
    max-width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    padding-top: 30px;
}

.nav-container{
    display: flex;
    justify-content: space-around;
}

nav h3{
    color: rgb(19, 19, 19);
    font-size: 2.3rem;
    font-weight: 700;
}

.nav-list{
    display: flex;

}
ul li{
    list-style: none;
    margin:25px 20px 20px 20px;
}
ul a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(66, 66, 66);
}

.banner-content{
    max-width: 862px;
    height: 370px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}
.banner-content h1{
    font-size: 4rem;
    font-weight: 700;
}

.banner-cont-img{
text-align: center;
}


.banner-img{
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    width: 100%;
}



/* team and feature style  */
.teams{
    display: flex;
    align-items: center;
    border: 2px solid purple;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 75px;
    max-width: 537px;
    max-height: 304px;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}

#feature-title1{
    color: 
    rgb(114, 114, 114);
    font-weight: 500;
}

#feature-title3{
    color: rgb(255, 144, 14);
}

.our-features p{
    margin: 24px 0 32px 0;

}

/* experience feature style  */


/* some facts style  */
.fact-title{
    font-size: 2.8rem;
    font-weight: 700;
}




/* shared style  */
.btn-primary{
    border-radius: 8px;

background: rgb(255, 144, 14);
width: 180px;
height: 64px;
color: white;
margin-top: 22px;
}

.description-primary{
    font-size: 1rem;
    font-weight: 400;
    color:rgb(114, 114, 114) ;
}

main{
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    border: 2px solid red;
}

main> section{
    margin-top: 130px;
}




/* small device responsive  */
@media screen and (max-width:576px) {
    .nav-container,
    .nav-list,
    .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 100px;
    }
    .our-features{
        margin: 20px 5px 20px 20px;
    }
    .our-features p{
        margin-bottom: 15px;
    }
}


/* medium size device responsive  */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}